<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>登录/注册</title>
    <link rel="stylesheet" href="/static/css/style.css">
    <script src="/static/jquery/3.5.0/jquery.js"></script>
</head>
<body>
    <div class="container">
        <div class="container-forms">
            <div class="container-info">
                <div class="info-item">
                    <div class="table">
                        <div class="table-cell">
                            <p>
                                你有帐户吗?
                            </p>
                            <button class="info-btn">
                                登 录
                            </button>
                        </div>
                    </div>
                </div>
                <div class="info-item">
                    <div class="table">
                        <div class="table-cell">
                            <p>
                                没有账号快来注册啊?
                            </p>
                            <button class="info-btn">
                                注 册
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container-form">
                <div class="form-item log-in">
                    <div class="table">
                        <div class="table-cell">
                            <input type="text" name="Username" id="username" placeholder="用户名">
                            <input type="password" name="Password" id="pwd" placeholder="密码">
                            <button class="btn" onclick="onBtnLogin()">
                                登 录
                            </button>
                        </div>
                    </div>
                </div>
                <div class="form-item sign-up">
                    <div class="table">
                        <div class="table-cell">
                            <input type="text" name="email" placeholder="邮箱">
                            <input type="text" name="fullName" placeholder="全名">
                            <input type="text" name="Username" placeholder="用户名">
                            <input type="password" name="Password" placeholder="密码">
                            <button class="btn"> 
                                登 录
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="/static/js/script.js">
    </script>

    <script type="application/javascript">
        function onBtnLogin(){
            let username=$("#username").val();
            let pwd=$("#pwd").val();
            let params={
                username:username,
                pwd:pwd
            }
            $.ajax({
                type: "POST",
                url:"/login/check",
                data:params,
                dataType:"text",
                success:function (data) {
                    if(data=="success"){
                        alert("登录成功！");
                    }else{
                        alert("账号密码错误！");
                    }

                }
            })


        }
    </script>
</body>
</html>